/* Modal Overlay */
.modal {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 999; /* Ensure it's on top */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Content */
.modal-main {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 70%; /* Adjust maximum width as needed */
  width: 500px; /* Adjust width as needed */
  text-align: center;
  position: relative;
}

/* Close Button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #555;
}
/* Form Elements */
.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.form-group {
  flex-basis: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.modal-closed{
  display: none;
}
.form-group label {
  flex-basis: 40%;
  text-align: left;
}

.form-group input,
.form-group button {
  flex-basis: 55%;
  margin-right: 1rem;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-group input:focus {
  outline: none;
  border-color: #007bff;
}

.form-group button {
  background-color: #007bff;
  color: #fff;
  margin: auto;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-group button:hover {
  background-color: #0056b3;
}
